
@{
    ViewBag.Title = "Email Template Configuration";
}

<section class="hbox stretch">
    <aside class="aside-md bg-white b-r" id="subNav">
        <div class="wrapper b-b header">Email Templates</div>
        <ul class="nav">
            <li class="b-b b-light">
                <a href="#"><i class="fa fa-chevron-right pull-right m-t-xs text-xs icon-muted"></i>EMAIL_CONFIRM</a>
            </li>
            <li class="b-b b-light">
                <a href="#"><i class="fa fa-chevron-right pull-right m-t-xs text-xs icon-muted"></i>RESET_PASSWORD</a>
            </li>
        </ul>
    </aside>
    <aside>
        <section class="vbox">
            <header class="header bg-white b-b clearfix">
                <div class="row m-t-sm">
                    <div class="col-sm-8 m-b-xs">
                        Details
                    </div>
                </div>
            </header>
            <section class="scrollable wrapper w-f">
                <section class="panel panel-default">

                </section>
            </section>
        </section>
    </aside>
</section>

