
@{
    ViewBag.Title = "Reference Collection Frequency";
    ViewBag.HideTitle = true;
    ViewBag.selOpt = "CollFreq";
    ViewBag.HelpLink = "Reference-Data";
}

@Html.Partial("_RefDataTopNav")

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">
        Collection Frequency
    </header>
    <div class="panel-body">
        <div class="table-responsive">
            <div class="table-responsive">
                <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</section>

@section scripts {
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">

        $(document).ready(function () {

            // datatable initialization
            $("#gridData").DataTable({
                "responsive": true,
                "serverSide": true,
                "processing": true,
                "orderMulti": false,
                "lengthChange": false,
                "paging": true,
                "pageLength": 20,
                "pagingType": "full_numbers",
                "info": false,
                "searching": false,
                "ajax": {
                    "url": "@Url.Action("RefCollFreqData", "Admin")",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "COLLECT_FREQ_CODE", "name": "COLLECT_FREQ_CODE", "autoWidth": true },
                    { "data": "COLLECT_FEQ_DESC", "name": "COLLECT_FEQ_DESC", "autoWidth": true }
                ]
            });

        });
    </script>
}
