<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="testBaseUrl" value="http://qrest-test.azurewebsites.net/"/>
        <add key="QRestLoginURL" value="/Account/Login?ReturnUrl=%2FDashboard"/>
        <add key="QRestUserName" value="nandita@appletechconsultants.com"/>
        <add key="QRestPassword" value="@bcd.123"/>
        <!--<add key="browserStackUser" value="nandita19"/>
        <add key="browserStackKey" value="21r1STce2KMo3sAxKqRp"/>-->
        <add key="browserStackUser" value="nanditabellur1"/>
        <add key="browserStackKey" value="izKGCP8FhkBpSXSzaCmq"/>
        <add key="remoteWebDriverUrl" value="http://hub-cloud.browserstack.com/wd/hub/"/>
    </appSettings>
</configuration>