<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="testBaseUrl" value="http://qrest-test.azurewebsites.net/"/>
        <add key="QRestLoginURL" value="/Account/Login?ReturnUrl=%2FDashboard"/>
        <add key="QRestUserName" value="A2xFZ4cEIYIS96sZDSk+nSrVokN2RflQyKFa7NBNSl4DYYdslU0h95q9QvMDDcpB8+lYLkM9JRvIY+a6J3rdFolxz0CEk1CBaoIiWy6O6Q0="/>
        <add key="QRestPassword" value="ilAkxb4NCBzarLe6S95T2Us7MRBexX100CBBVaYNUXg="/>
        <add key="browserStackUser" value="27HBbmmsPN9KpwfdSPbsxW2yAun7hkcoEnUL6ALrvCI="/>
        <add key="browserStackKey" value="ASir9zfZ00J1xEC00ukalAftzRsE3+4If13vsHuENnA+kul8v4x3Fip6hEkVYsYC"/>
        <add key="remoteWebDriverUrl" value="http://hub-cloud.browserstack.com/wd/hub/"/>
    </appSettings>
</configuration>