<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="testBaseUrl" value="http://qrest-test.azurewebsites.net/"/>
    <add key="QRestLoginURL" value="/Account/Login?ReturnUrl=%2FDashboard"/>
    <add key="QRestUserName" value="BOAP2zLmhHIcl0/8ml+aVn46XR905gIqlWzMp+RkrM5umKn6cq6OY/zmOzzOqQBDqV49SuayCJZxSJNUWRg7j32k2iSqNHhYGyA/XGDEtYc=" />
    <add key="QRestPassword" value="ImcXq4FsanPG2Sl/GX0u1sAi+fn/eIjXcTN+Ib5v5Jw=" />
    <add key="browserStackUser" value="27HBbmmsPN9KpwfdSPbsxW2yAun7hkcoEnUL6ALrvCI="/>
    <add key="browserStackKey" value="ASir9zfZ00J1xEC00ukalAftzRsE3+4If13vsHuENnA+kul8v4x3Fip6hEkVYsYC"/>
    <add key="remoteWebDriverUrl" value="http://hub-cloud.browserstack.com/wd/hub/"/>
  </appSettings>
</configuration>