@model QREST.Models.vmSharedLogActivity
@{
    ViewBag.Title = "Activity Log";
    ViewBag.SubTitle = "View a log of user activity in QREST";
    ViewBag.HelpLink = "QREST-Logging";
}

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">
        Log History
        <i class="fa fa-info-sign text-muted" data-toggle="tooltip" data-placement="bottom" data-title="ajax to load the data."></i>
    </header>
    <div class="panel-body">
        @if (Model.ddl_Organization != null && Model.ddl_Organization.Count() > 0)
        {
        <form class="form-inline m-b-sm" onsubmit="return false">
            @Html.DropDownListFor(model => model.selOrgID, Model.ddl_Organization, new { @class = "form-control" })
            <input id="mini" class="form-control date-cleave" placeholder="Date From" />
            <input id="maxi" class="form-control date-cleave" placeholder="Date To" />
            <button id="btnGo" class="btn btn-sm btn-primary">Go</button>
        </form>
        <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
            <thead>
                <tr>
                    <th>Activity Date</th>
                    <th>Type</th>
                    <th>User</th>
                    <th>Description</th>
                </tr>
            </thead>
        </table>
        }
        else
        {
            <span>This feature is only available to Tribal Admins.</span>
        }
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/cleave")
    @Scripts.Render("~/bundles/datatables")

    <script type="text/javascript">
        $(document).ready(function () {

            moment.updateLocale(moment.locale(), { invalidDate: "" });

            // datatable initialization
            var table = $("#gridData").DataTable({
                "responsive": true,
                "serverSide": true,
                "processing": true,
                "orderMulti": false,
                "lengthChange": false,
                "paging": true,
                "pageLength": 25,
                "pagingType": "full_numbers",
                "info": false,
                "searching": false,
                "ajax": {
                    "url": "@Url.Action("LogActivityData", "Shared")",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        return $.extend({}, d, {
                            "mini": $('#mini').val(),
                            "maxi": $('#maxi').val(),
                            "orgi": $('#selOrgID').val()
                        });
                    }
                },
                "order": [[0, "desc"]],
                "columns": [
                    {
                        "data": "LOG_DT",
                        "name": "LOG_DT",
                        "autoWidth": true,
                        render: function (d) {
                            return moment(d).format("MM/DD/YYYY hh:mm A ");
                        }
                    },
                    { "data": "LOG_TYP", "name": "LOG_TYP", "autoWidth": true },
                    { "data": "LOG_USER_NAME", "name": "LOG_USER_NAME", "autoWidth": true },
                    { "data": "LOG_MSG", "name": "LOG_MSG", "autoWidth": true }
                ],
                fnDrawCallback: function (oSettings) {
                    var totalPages = this.api().page.info().pages;
                    if (totalPages == 1) {
                        jQuery('.dataTables_paginate').hide();
                    }
                    else {
                        jQuery('.dataTables_paginate').show();
                    }
                }
            });

            //date filter click
            $('#btnGo').on('click', function () {
                table.draw();
            })
        });

    </script>
}
