@{
    ViewBag.Title = "Dashboard";
}


@*<div class="row">
        <div class="col-lg-3 col-md-6">
            <a href="@Url.Action("AppWiz1", "App", new { id = 2 })">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-edit fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="font-16-to-20">Monitor</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left font-bold">Continue Application</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>*@


<section class="panel panel-default">
    <div class="row m-l-none m-r-none bg-light lter">
        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-info"></i>
                <i class="fa fa-map-marker fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="#">
                <span class="h3 block m-t-xs"><strong>2</strong></span>
                <small class="text-muted text-uc">Air Monitoring Sites</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-warning"></i>
                <i class="fa fa-search fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="#">
                <span class="h3 block m-t-xs"><strong id="bugs">7</strong></span>
                <small class="text-muted text-uc">Monitors</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                <i class="fa fa-warning fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="#">
                <span class="h3 block m-t-xs"><strong id="firers">23</strong></span>
                <small class="text-muted text-uc">Alerts</small>
            </a>
        </div>
        <div class="col-sm-6 col-md-3 padder-v b-r b-light lt">
            <span class="fa-stack fa-2x pull-left m-r-sm">
                <i class="fa fa-circle fa-stack-2x icon-muted"></i>
                <i class="fa fa-clock-o fa-stack-1x text-white"></i>
            </span>
            <a class="clear" href="#">
                <span class="h3 block m-t-xs"><strong>31:50</strong></span>
                <small class="text-muted text-uc">Last Poll</small>
            </a>
        </div>
    </div>
</section>
<div class="row">
    <div class="col-md-8">
        <section class="panel panel-default">
            <header class="panel-heading font-bold">Map Showing My Sites</header>
            <div class="panel-body">
                <div id="flot-1ine" style="height: 330px; padding: 0px; position: relative;">
                    <canvas class="flot-base" width="754" height="210" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 754px; height: 210px;"></canvas>
                    <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                    </div>
                    <canvas class="flot-overlay" width="754" height="210" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 754px; height: 210px;"></canvas>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4">
        <section class="panel panel-qrest">
            <header class="panel-heading font-bold">
                Site: Test Canyon 001
                <span class="pull-right"><small class="text-muted">Alerts: <span class="badge bg-primary">None</span></small></span>
            </header>
            <div class="bg-light dk wrapper">
                <span class="pull-right">Past 24 hours</span>
                <span class="h3">PM2.5</span>
                <div class="text-center m-b-n m-t-sm">
                    <canvas id="myChart" width="400" height="200"></canvas>

                </div>
            </div>
            <div class="panel-body">
                <div>
                    <span class="h4 block">Monitor Health</span>
                </div>
                <div class="line pull-in"></div>
                <div class="row m-t-sm">
                    <div class="col-xs-3">
                        <small class="text-muted block">Last <br />Poll</small>
                        <span class="badge bg-primary">35 Min</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last <br />QC</small>
                        <span class="badge bg-danger">80 Days</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last AQS <br />Review</small>
                        <span class="badge bg-warning">12 Days</span>
                    </div>
                    <div class="col-xs-3">
                        <small class="text-muted block">Last AQS <br />Submit</small>
                        <span class="badge bg-danger">45 Days</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        Chart.defaults.global.legend.display = false;
        var myChart = new Chart(ctx, {
            type: 'line',
            label: '',
            data: {
                labels: ['11:00', '12:00', '13:00', '14:00', '15:00', '16:00'],
                datasets: [{
                    data: [12, 13, 11, 9, 8, 7],
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    </script>
}

