@model QREST.Models.vmSitePing
@{
    ViewBag.Title = "Monitor Ping Results";
}

<section class="panel panel-qrest">
    <header class="panel-heading font-bold">Ping Results</header>
    <div class="panel-body">
        <div class="table-responsive">
            <table id="gridData" class="table table-striped table-bordered" data-ride="datatables" style="width:100%">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Description</th>
                    </tr>
                </thead>
                @foreach (var item in Model.pingResults)
                {
                    <tr>
                        <td>
                            @if (item.Item1 == true)
                            {
                                <span class="label label-success"> Success</span>
                            }
                            else
                            {
                                <span class="label label-danger"> Failed</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item2)
                        </td>
                    </tr>
                }
            </table>
        </div>

        <div class="row">
            <div class="col-md-12">
                <a class=" btn btn-default" href="@Url.Action("SitePollConfig", new { configid = Model.POLL_CONFIG_IDX })">Back to Polling Config</a>
            </div>
        </div>
    </div>

</section>
