@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="panel-body wrapper-lg">
    <p>
        Please check your email to reset your password.
    </p>
    <div class="text-center">
        <a href="@Url.Action("Index", "Home") " class="btn btn-primary">Return to Home Page</a>
    </div>
</div>

