@model QREST.Models.vmSharedOrgHeader
@{
    
}

<ul class="nav navbar-nav hidden-xs">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle dker" data-toggle="dropdown">
            <i class="fa fa-building-o"></i>
            <span class="font-bold">@Model.orgName</span>
        </a>
        <section class="dropdown-menu aside-xl on animated fadeInLeft no-borders lt">
            <div class="wrapper lter m-t-n-xs">
                <div class="clear">
                    <a href="#"><span class="text-white font-bold">John Smith</span></a>
                    <small class="block">Investigator</small>
                    <a href="#" class="btn btn-xs btn-success m-t-xs">Change active agency</a>
                </div>
            </div>
            <div class="row m-l-none m-r-none m-b-n-xs text-center">
                <div class="col-xs-4">
                    <div class="padder-v">
                        <span class="m-b-xs h4 block text-white">21</span>
                        <small class="text-muted">Days Left</small>
                    </div>
                </div>
                <div class="col-xs-4 dk">
                    <div class="padder-v">
                        <span class="m-b-xs h4 block text-white">55</span>
                        <small class="text-muted">Docs</small>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="padder-v">
                        <span class="m-b-xs h4 block text-white">$1,500</span>
                        <small class="text-muted">Awarded</small>
                    </div>
                </div>
            </div>
        </section>
    </li>
</ul>

