
@{
    Layout = "~/Views/Shared/_LayoutPub.cshtml";
    ViewBag.Title = "Map";
}
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 class="text-center">The public website will be added in a future phase of the QREST development project.</h3>
