@model QREST.Models.vmHomeTerms
@{
    Layout = "~/Views/Shared/_LayoutPub.cshtml";
    ViewBag.Title = "Terms and Conditions";
}
<link rel="stylesheet" href="https://aqs.epa.gov/aqsweb/codes/qa/SitesV4.txt">
<link rel="stylesheet" href="https://raw.githubusercontent.com/open-environment/QREST/master/QREST/Content/Docs/DeployGuide.txt">

<p>@Html.Raw(Model.TermsAndConditions)</p>
