<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9eb6bb1a-a5b6-4eed-a9a1-987d79c541fa/resourcegroups/QREST_ResourceGrp/providers/Microsoft.Web/sites/qrest</ResourceId>
    <ResourceGroup>QREST_ResourceGrp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://qrest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>qrest.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>qrest</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$qrest</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="IdentityConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=qrest-db-svr.database.windows.net;Initial Catalog=QREST_DB;Persist Security Info=True;User ID=qrest_login;Password=prod_hp3N!33" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=QREST;User ID=qrest_login;Password=B$57WjpN!17h;Connect Timeout=60" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=.\SQLEXPRESS; Initial Catalog=QREST; User ID=qrest_login; Password=B$57WjpN!17h; Connect Timeout=60;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="QRESTEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=qrest-db-svr.database.windows.net;Initial Catalog=QREST_DB;Persist Security Info=True;User ID=qrest_login;Password=prod_hp3N!33" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=.\SQLEXPRESS;Initial Catalog=QREST;User ID=qrest_login;Password=B$57WjpN!17h;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\QRESTEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DAL.QRESTModel.csdl|res://*/DAL.QRESTModel.ssdl|res://*/DAL.QRESTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=QREST;user id=qrest_login;password=B$57WjpN!17h;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QRESTEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/DAL.QRESTModel.csdl|res://*/DAL.QRESTModel.ssdl|res://*/DAL.QRESTModel.msl;provider=System.Data.SqlClient;provider connection string="data source=qrest-db-svr.database.windows.net;initial catalog=QREST_DB;persist security info=True;user id=qrest_login;password=prod_hp3N!33;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="IdentityConnection-Web.config Connection String">
      <ParameterValue>Data Source=qrest-db-svr.database.windows.net;Initial Catalog=QREST_DB;Persist Security Info=True;User ID=qrest_login;Password=prod_hp3N!33</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>